@import './../../../../assets/styles/style.scss';

.banner-container {
    position: fixed;
    top: 0%;
    padding: 14px;
    z-index: 1000;
    background-color: $greenColor;
    width: 100%;    
    height: 30px;

    .banner-content {
        position: relative;

        .btn-close {
            position: absolute;
            right: 1%;
            top: -8px;
            font-size: 2rem;
            border: none;
            background: none;
            color: white;
            cursor: pointer;
        }

        .banner-text {
            color: white;
            text-align: center;
    
            a {
                text-decoration: underline;
                color: white;
                cursor: pointer;
            }
        }
    }

}