<div class="navlinks-container">
    <div class="navlinks-list">
        <ul *ngFor='let category of navbarLinks'>
            <div *ngIf='category.is_visible' class="navlinks-item">
                <!-- <div class="parent-links-container"> -->
                    <a href="" >
                        {{ category.title }}
                    </a>
                <!-- </div> -->

                <ul class="child-links-container">
                    <li class="nav-child-item" *ngFor='let childLink of category.childs'>
                        <a href="" *ngIf='childLink.is_visible'>
                            {{ childLink.title }}
                        </a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</div>
