<div class="navlinks-container">
    <div class="navlinks-list">
        <ul *ngFor='let category of navbarLinks'>
            <ng-template *ngIf='category' class="navlinks-item">
                <a href="" >
                    {{ category.title }}
                </a>

                <br>
                
                <ul class="child-links-container">
                    <li class="nav-child-item" *ngFor='let childLink of category.childs'>
                        <a href="" *ngIf='childLink.is_visible'>
                            {{ childLink.title }}
                        </a>
                    </li>
                </ul>
            </ng-template>
        </ul>
    </div>
</div>
