<nav class="navbar">
    <div class="navbar-right-side">
        <img [routerLink] = "['/']" src="http://pargar.ir/assets/img/logo_.png" alt="pargar" class="navbar-brand">

        <div name="category" id="category" class="navbar-category-container">
            <div (click) = "isCategoryClicked = !isCategoryClicked">
                دسته بندی ها <i class="fas fa-angle-down"></i>
            </div>

            <div *ngIf='isCategoryClicked' class="navbar-category">
                <div *ngFor='let category of categories'>
                    <div class="nav-cat-item">
                        {{ category.title }}

                        <div *ngIf='isCategoryClicked' class="navbar-child-category" >
                            <div *ngFor='let childCategory of category.childs'>
                                <div class="nav-child-cat-item">
                                    {{ childCategory.title }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-searchbar">
            <input type="text" name="search" id="search" placeholder="جستجو کنید">
            <button class="btn-search">
                <i class="fas fa-search"></i>
            </button>
        </div>

        <div class="navbar-guide-title">
            <h3 class="navbar-guide">
                <a href="http://pargar.ir/intro">
                    راهنمای پرگار
                </a>
            </h3>
        </div>
    </div>

    <div class="navbar-left-side">
        <button class="btn-teaching">
            <a href="http://panel.pargar.ir/">در پرگار درس بدهید</a>
        </button>

        <div *ngIf = '!isLoggedIn' class="myAccount-dropdown">
            <button class="btn-myAccount">حساب من <i class="fas fa-angle-down"></i></button>
            <div class="dropdown-items">
                <a (click) = 'onSignClick()'>ورود/ثبت نام رایگان</a>
                <br>
                <a href="#">کد هدیه</a>
            </div>
        </div>

        <button *ngIf = 'isLoggedIn' class="btn-subscribe">کاربر اشتراکی شوید</button>

        <button *ngIf = 'isLoggedIn' class="btn-user-avatar" [routerLink]="['/profile']"><img [src]='userAvatar' alt=""></button>
    </div>
</nav>