.loading-container {
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    top: 0;
}

.loading-spinner {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}