<div class="footer-container">
    <div class="footer-content">
        <div class="site-links">
            <ul class="site-links-list">
                <li class="site-links-item">
                    <a href="">
                        وبلاگ پرگار
                    </a>
                </li>
                <li class="site-links-item">
                    <a href="">
                        درباره پرگار
                    </a>
                </li>
                <li class="site-links-item">
                    <a href="">
                        پرگار در رسانه ها
                    </a>
                </li>
                <li class="site-links-item">
                    <a href="">
                        تماس با ما
                    </a>
                </li>
            </ul>    
        </div>

        <div class="signs-container">
            <h4>از آموخته های خود کسب درآمد کنید!</h4>
            <button class="btn-teach">
                <a href="http://panel.pargar.ir/">در پرگار درس بدهید</a>
            </button>
            <div class="signs">
                <img src="./../../../../assets/images/icons/logo.aspx.png" alt="">
                <img src="./../../../../assets/images/icons/logo.aspx2.png" alt="">
            </div>
        </div>

        <div class="social-container">
            <div class="social-icons">
                <div class="social-title">
                    <h3>پرگار را دنبال کنید</h3>
                    <p>اطلاع از آموزش های جدید، تخفیف ها و...</p>
                </div>
                <div class="icons">
                    <a href="https://t.me/pargarofficial"> 
                        <img src="./../../../../assets/images/icons/social-icons/icon_social_telegram.svg" alt="telegram"> 
                    </a>
                    <a href="https://instagram.com/pargarapp/">
                        <img src="./../../../../assets/images/icons/social-icons/icon_social_instagram.svg" alt="instagram"> 
                    </a>
                    <a href="http://www.aparat.com/pargar_app">
                        <img src="./../../../../assets/images/icons/social-icons/icon_social_aparat.svg" alt="aparat"> 
                    </a>
                </div>
            </div>

            <div class="app-stores">
                <div>
                    <a href="https://play.google.com/store/apps/details?id=com.yaramobile.educationalfilm&hl=en">
                        <img src="./../../../../assets/images/icons/app-stores/icon_play1.svg" alt="google-play">
                    </a>
                    <a href="http://charkhoneh.com/content.jsf?uuid=930501270">
                        <img src="./../../../../assets/images/icons/app-stores/icon_4khooneh.svg" alt="4khooneh">
                    </a>
                </div>
                    
                <div>
                    <a href="http://pargar.ir/intro/#download">
                        <img src="./../../../../assets/images/icons/app-stores/icon_appstore.svg" alt="app-store">
                    </a>
                    <a href="https://cafebazaar.ir/app/com.yaramobile.educationalfilm/?l=fa">
                        <img src="./../../../../assets/images/icons/app-stores/icon_bazaar.svg" alt="bazaar">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>