// .header-items-container {
//     max-width: 1200px;
//     margin: auto;
// }

.slick-wrapper{
    width: 100%;
    margin: 140px auto 20px auto;
}

.slide {
    position: relative;
}

.header-img {
    border-radius: 12px;
    width: 98%;
}

.header-title-container {
    position: absolute;
    width: 90%;
    background-color: red;
    
    .header-title {
        position: absolute;
        bottom: 16px;
        width: 100%;
        right: 3%;
        text-align: center;
        margin: auto;
        color: white;
    }
}
