<div class="slick-wrapper" [ngStyle]="{'margin-top': bannerStatus ? '150px' : '90px'}">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let item of headerList" class="slide">
        <img src="{{item.feature_avatar.hdpi}}" alt="" class="header-img">

        <div class="header-title-container">
            <h4 class='header-title'>
                {{ item.name }}
            </h4>
        </div>
    </div>
    </ngx-slick-carousel>
</div>