@import './../../../../../assets/styles/style.scss';

.home-products{
    max-width: 1200px;
    margin: auto;
}

.normal-product-container {
    direction: rtl;

    > h3 {
        color: $lightBlackColor;
    }

    .normal-product {
        margin: 20px 10px;
        border-radius: 12px;
        background-color: white;
        height: 300px;
        position: relative;
        box-shadow: $productBoxShadow;
    
        .product-img {
            width: 100%;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
        }
    
        .product-title {
            padding: 12px;
            margin-bottom: 14px;
        }
    
        .product-extra-info {
            color: $lightGrayColor;
            padding: 12px;
            position: absolute;
            bottom: 0px;
            font-family: "iran-sans";

            .product-rating {
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 260px;
                
                .star-ranking-container {
                    display: flex;

                    .green-star {
                        position: absolute;
                        left: 0%;
                        top: 6px;
                        color: $greenColor;
                        z-index: 5;
                        font-size: 11px;
                    }
                    .gray-star {
                        position: absolute;
                        left: 0%;
                        top: 6px;
                        color: $lightGrayColor;
                        z-index: 4;
                        font-size: 11px;
                    }
                }
            }
    
            p {
                font-size: 12px;
                margin-top: 5px;
            }
        }
    }
}

.multi-feature-container {
    .multi-feature-product {
        margin: 32px 18px;
        text-align: center;

        .product-title {
            color: $lightBlackColor;
            margin: {
                top: 8px;
                bottom: 24px;
            }
            font-size: 18px;
        }
    }
}


.single-feature-container {
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    box-shadow: $productBoxShadow;
    margin: {
        bottom: 24px;
        top: 18px;
    }
    
    .single-feature-product {
        width: 100%;
        display: flex;

        .product-img-container {
            width: 40%;
            
            .product-img {
                width: 480px;
                border-radius: 12px;
            }
        }
        
        
        .product-content {
            display: flex;
            flex-direction: column;
            padding: 24px;
            width: 60%;
            margin: {
                right: 48px;
                top: 32px;
            }
            
            .product-title {
                color: $lightBlackColor;
                margin-bottom: 8px;
            }

            .product-description {
                font-size: 14px;
                line-height: 24px;
            }

            .product-extra-info {
                margin-top: 12px;

                > p {
                    color: black;
                    font-size: 14px;
                }

                .product-rating {
                    display: flex;
                    position: relative;
                    font-size: 14px;
                    margin-top: 24px;
                    color: $grayColor;

                    .star-ranking-container {
                        display: flex;

                        .green-star {
                            position: absolute;
                            left: 60%;
                            top: -3px;
                            color: $greenColor;
                            z-index: 5;
                            font-size: 16px;
                        }
                        .gray-star {
                            position: absolute;
                            left: 60%;
                            top: -3px;
                            color: $lightGrayColor;
                            z-index: 4;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
