<div class="home-products-container">
    <div *ngFor="let item of sectionList" class="home-products">
        <h3 *ngIf='item.row_type == "normal" && item.products.length > 0'>{{item.title}}</h3>
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" *ngIf='item.row_type == "normal"'>
                <div ngxSlickItem  class="slide" *ngFor="let product of item.products">
                    <div class="normal-product">
                        <img class="product-img" src="{{ product.feature_avatar.hdpi }}" alt="{{ product.name }}" width="100%">
                        <h5 class="product-title">{{ product.name}}</h5>
                        <div class="product-extra-info">
                            <p>{{ product.producer_name }}</p>
                            <div class="product-rating">
                                <p>{{product.total_view}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
    </div>
</div>