@import './../../../../assets/styles/style.scss';

.home-products{
    max-width: 1200px;
    margin: auto;
}

.normal-product {
    margin: 20px 10px;
    border-radius: 12px;
    background-color: white;
    height: 300px;
    position: relative;

    .product-img {
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }

    .product-title {
        padding: 12px;
        margin-bottom: 14px;
    }

    .product-extra-info {
        color: $grayColor;
        padding: 12px;
        position: absolute;
        bottom: 0px;
        font-family: "iran-sans";

        p {
            font-size: 12px;
            margin-top: 5px;
        }
    }
}
