@import './../../../../../assets/styles/style.scss';


.navlinks-container {
    background-color: white;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 70px;
    margin-bottom: 20px;
    z-index: 10;

    .navlinks-list{
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 1200px;
        list-style: none;
        position: relative;

        .navlinks-item {
            padding: 15px 19px;
            
            a {
                color: $grayColor;
            }

            a:hover {
                color: $greenColor;
            }
        }

        .navlinks-item:hover {
            border-bottom: 1px solid $greenColor;
        }

        .navlinks-item:hover .child-links-container {
            position: absolute;
            top: 56px;
            right: 0;
            display: block;
            width: 1200px;
            background-color: white;
            text-align: center;
            margin: auto;
            height: 55px;
        }

        .child-links-container {
            display: none;

            .nav-child-item {
                display: inline-block;
                padding: 14px;
                text-align: center;
                margin: auto;
                color: $grayColor;
            }

            .nav-child-item:hover {
                border-bottom: 3px solid $greenColor;
                color: $greenColor;
            }
        }
    }
}