<div *ngIf = 'isClicked' class="sign-container">
    <button (click) = 'onCloseBtnClick()' class="btn-close"></button>

    <div *ngIf = '!isCodeSent' class="input-container">
        <div class="form-container" action="">
            <label for="signup">ورود و ثبت نام</label>
            <input type="text" id="signup" placeholder="شماره موبایل همراه"  [(ngModel)] = 'mobileNumber'>
            <p class="errorMsg" *ngIf = 'hasError'>{{ mobileNumError }}</p>
            <button type="submit" class='btn-receive-code' (click) = 'onReceiveCodeClick()'>دریافت کد تایید</button>
        </div>
    </div>

    <div *ngIf = 'isCodeSent' class="input-container">
        <div class="form-container" action="">
            <label for="signup">ورود کد تایید</label>
            <input type="text" id="signup" placeholder="کد تاییدیه"  [(ngModel)] = 'authCode'>
            <input type="text" id="signup" placeholder="نام نمایشی شما"  [(ngModel)] = 'userNickname'>
            <p class="errorMsg" *ngIf = 'hasError'>{{ authCodeError }}</p>
            <button type="submit" class='btn-receive-code' (click) = 'onSendCodeClick()'>ورود به پرگار</button>
            <button class="btn-send-again" (click)='onSendAgainClick()'>ارسال مجدد کد تایید</button>
        </div>
    </div>
</div>
