@font-face {
  font-family: 'iran-sans';
  src: url('./assets/fonts/iran-sans/IRANSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    font-family: "iran-sans";
}

body{
    background-color: #f1f1f1;
    direction: rtl;
}

a {
    text-decoration: none;
    color: black;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
